/*Estilo Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
}

.interface {
  max-width: 80rem;
  margin: 0 auto;
}

.flex {
  display: flex;

}

.mb {
  margin-bottom: 1rem;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600px;
  background-color: #00a8a1;
  color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 0 8px #00a8a1;
  transform: scale(1.05);
}

.btn__social button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #00a8a1;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
}

h2.titulo {
  color: #000;
  font-size: 28px;
}

h2.titulo span{
  color: #00a8a1;
}

/* Estilo do Cabeçalho */

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .logo span {
  color: #000;
  font-size: 1.2rem;
  line-height: 1px;
}

header .logo strong {
  color: #00a8a1;
  font-size: 1.5rem;
}

/* Estilo do topo do site */

section.topo__do__site{
  padding: 40px 4%;
}

section.topo__do__site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo__do__site .text__top__site {
  flex: 1;
}
.topo__do__site .text__top__site h1 {
  color: #000;
  font-size: 38px;
  line-height: 40px;
}

.topo__do__site .text__top__site h1 span {
  color: #00a8a1;
}

.topo__do__site .text__top__site p {
  color: #000;
  margin: 40px 0;
  text-align: justify;
}

.topo__do__site .img__top__site {
  flex: 1;
}

.topo__do__site .img__top__site img {
  width: 100%;
  border: 3px solid #00a8a1;
  border-radius: 50%;
  box-shadow: 0 0 8px #0186808a;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0% {
    top: 0;
  } 100% {
    top: 30px;
  }
}

/* Estilo das halidades */

section.habilidades {
  padding: 40px 4%;
  text-align: center;
  background-color: #234c41;
}

section.habilidades h2{
  color: #fff;
}

section.habilidades .flex {
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.habilidades .habilidades__box {
  width: 350px;
  color: #fff;
  padding: 40px;
  border: 2px solid #fff;
  border-radius: 5%;
  margin-top: 45px;
  transition: .2s;
  text-align: center;
}

.habilidades .habilidades__box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff7c;
}

.habilidades .habilidades__box h3 {
  font-size: 23px;
  margin: 15px 0;
  text-align: center;
}

/* Estilo do sobre */

section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .text__sobre {
  color: #000;
  flex: 1;
}

.sobre .text__sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .text__sobre h2 span {
  display: block;
}

.sobre .text__sobre p {
  margin: 20px 0;
  text-align: justify;
}

.sobre .img__sobre {
  flex: 1;
}

.sobre .img__sobre img {
  width: 100%;
  border: 3px solid #00a8a1;
  box-shadow: 0 0 8px #0186808a;
}

/* Estilo do Portfolio */

section.portfolio{
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
  text-align: center;
  scroll-margin-top: 15rem;
  color: #fff;
  background-color: #234c41;
}

section.portfolio h2{
  color: #fff;
}

section.portfolio .flex {
  justify-content: space-around;
  gap: 80px;
}

section.portfolio .titulo {
  margin: 24px 0;
}

section.portfolio p{
  margin: 24px 0;
}

.portfolio ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.portfolio ul li.projects__reversed-list {
  flex-direction: row-reverse;
}

.portfolio ul li:not(:last-of-type) {
  margin-bottom: 12rem;
}

.portfolio .img__port img {
  width: 100%;
  min-width: 40rem;
  max-width: 47rem;
  height: auto;
}

.portfolio ul li .projects__info {
  max-width: 47rem;
}

.portfolio ul li .projects__info p {
  margin: 1rem 0 4rem;
}

.portfolio ul li .projects__info a{
  font-weight: 500;
  text-decoration: underline;
}

.portfolio ul li .flex {
  align-items: center;
  justify-content: center;

}

/* Estilo do footer */

footer {
  padding: 40px 4%;
  text-align: center;
}

footer .footer .flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
}

footer .footer__content a{
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright{
  font-size: 1rem;
}