/*Estilo Geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
}

.interface {
  max-width: 80rem;
  margin: 0 auto;
}

.flex {
  display: flex;

}

.mb {
  margin-bottom: 1rem;
}

.btn-contato button, .btn-menu, .btn-projects button, .btn-contato-mobile button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600px;
  background-color: #00a8a1;
  color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem;
}

button:hover {
  box-shadow: 0 0 8px #00a8a1;
  transform: scale(1.05);
}

.btn__social button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #00a8a1;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
}

h2.titulo {
  color: #000;
  font-size: 28px;
}

h2.titulo span{
  color: #00a8a1;
}

